.car {
    width: 30%;
    background: white;
    margin: 5px;
    border-radius: 10px;
}

.container {
    color: black;
    padding: 2px 16px;
}

.car-image {
    width: 100%;
}

.horse-power {
    color: red;
    font-size: 30px;
}