.nav-content {
    background: black;
    width: 300px;
    float: left;
    position: fixed;
    height: 100%;
    line-height: 70px;
    padding-top: 50px;
    display: none;
    box-shadow: 2px 2px 10px black;
}

.nav-content div {
    cursor: pointer;
}

.nav-content a {
    text-decoration: none;
}

.nav-content div:hover {
    transition: 0.2s;
    color: grey;
    background: white;
}